<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>

        body{
            background-color: gray;
        }
        td{
            padding: 10px;
            color:blue;
        }
        input{
            padding: 4px;
        }
        table{
            background-color: azure;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <h1 align="center">User Login </h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table align="center" >
            <tr>
                <td>
                    Username : 
                </td>
                <td>
                    <input type="email" name="uname" id="">
                </td>
            </tr>
            <tr>
                <td>
                    Password : 
                </td>
                <td>
                    <input type="password" name="upass" id="">
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <input type="submit" value="Login">
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <a href="/authapp/register">New User? Sign Up</a>
                </td>
            </tr>
                {% if errmsg %}
                    <script>
                        alert('Invalid Username and Password')
                    </script>
                    <!-- <td colspan="3" align="center" style="color: red;">{{errmsg}}</td> -->
                {% endif %}
        </table>
    </form>
</body>
</html>